.typer-content {
  font-family: 'Righteous';
  padding: 0;
  margin: 0;
  color: black;
}

.show-container {
  border: 10px solid black;
  z-index: 10;
  position: relative;
  border-radius: 10px;
  background-color: white;
}

.white {
  background-color: white;
}

@media (min-width: 500px) {
  .show-container {
    border: 10px solid black;
    z-index: 10;
    position: relative;
    min-width: 500px;
  }
}

@media (max-height: 630px) {
  .face {
    width: 182px;
    height: 300px;
  }
}

@media (min-height: 631px) and (max-height: 780px) {
  .face {
    width: 240px;
    height: 395;
  }
}
@media (min-height: 781px) and (max-height: 900px) {
  .face {
    width: 330px;
    height: 544px;
  }
}

@media (min-height: 901px) {
  .face {
    width: 360px;
    height: 574px;
  }
}

@media (min-height: 901px) {
  .face {
    width: 360px;
    height: 574px;
  }
}

.z-depth-5 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

.image-container {
  position: relative;
  text-align: center;
  color: black;
}

.centered {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heart {
  width: 100px;
  height: 100px;
  z-index: 1;
  cursor: pointer;
}

.heart-text {
  z-index: 20;
  font-family: 'Righteous';
  opacity: 0;
  cursor: pointer;
  position: relative;
}
