<canvas id="confetti-holder" style="z-index:-1000; position: absolute; top: 0px; left: 0px;"> </canvas>
<div class="container show-container" fxLayout="column">
  <ng-container *ngIf="loaded; else loading">
    <div fxLayoutAlign="center start" style="height: 112px;">
      <ng-container *ngFor="let name of names">
        <p *ngIf="name.on" [@zoomInOut]="'bounce'" #typer class="mat-display-4 typer-content" [style.font-size]="name.size">{{ name.name }}</p>
      </ng-container>
    </div>

    <div fxFlex="1" class="container"></div>
    <div fxLayoutAlign="center end" class="face-container"><img class="face" src="https://lovedad.imgix.net/dave-corrected-web.png?w=1200&h=1977" /></div>
    <div fxFlex="1" class="container"></div>
    <div fxLayoutAlign="center end" style="height:100px;">
      <div *ngFor="let attr of attributes">
        <div *ngIf="attr.on" [@bounceInUp]="'flyIn'" style="margin-left: -30px"><app-user-card style="position:relative" [content]="attr.attribute" [user]="attr.user"></app-user-card></div>
      </div>
    </div>
  </ng-container>
</div>
<ng-template #loading>
  <div fxFlex="1" class="container"></div>
  <div fxLayoutAlign="center center"><app-loading></app-loading></div>
  <div fxFlex="1" class="container"></div>
</ng-template>
