.typer-content {
  font-family: 'Righteous';
  padding: 0;
  margin: 0;
  color: black;
}

.show-container {
  border: 10px solid black;
  z-index: 10;
  position: relative;
}

@media (max-height: 630px) {
  .face {
    width: 182px;
    height: 300px;
  }
}

@media (min-height: 631px) and (max-height: 780px) {
  .face {
    width: 240px;
    height: 395;
  }
}
@media (min-height: 781px) and (max-height: 900px) {
  .face {
    width: 330px;
    height: 544px;
  }
}

@media (min-height: 901px) {
  .face {
    width: 360px;
    height: 574px;
  }
}

@media (min-height: 901px) and (min-width) {
  .face {
    width: 360px;
    height: 574px;
  }
}

@media (min-height: 901px) {
  .face {
    width: 360px;
    height: 574px;
  }
}
