<div class="box">
  <div class="header" >
    <div style="flex: 0 1 auto; width: 40px;">
      <mat-icon style="cursor: pointer; color: rgba(0, 0, 0, .32)" (click)="close()">close</mat-icon>
    </div>
    <div class="title-container"><h1 class="title">Memories</h1></div>
    <div class="swipe-icon-container"><img [@pulse]="pulseSwipe" class="swipe-icon" src="assets/swipe.svg" /></div>
  </div>
  <div class="content">
    <div class="swiper-container">
      <swiper class="swiper-self" (indexChange)="onIndexChange($event)" [(index)]="slideIndex">
        <div class="swiper-slide" *ngFor="let option of options; let optionIndex = index" [autoscroll]="optionIndex === slideIndex">
          <div class="column">
            <div class="row">
              <div class="space-taker-upper"><hr style="border-width: 1px;border-style: solid;margin-left:5px; margin-right:5px;" /></div>
              <app-user-circle [user]="option.item.user"></app-user-circle>
              <div class="space-taker-upper"><hr style="border-width: 1px;border-style: solid;margin-left:5px; margin-right:5px;" /></div>
            </div>
            <div class="row">
              <div style="font-family: dosis;font-size: 20px;text-align: justify">
                <p>{{ option.item.entry.memory }}</p>
              </div>
            </div>
            <div class="row" style="justify-content: flex-end;">
              <div style="font-family: dosis;font-size: 20px; flex: 0 1 auto">
                <p>
                  &mdash;<u>{{ option.item.user.firstname }}</u>
                </p>
              </div>
            </div>
          </div>
        </div>
      </swiper>
    </div>
  </div>
</div>
