.box {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.header {
  flex: 0 1 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  // background-color: rgba(211, 211, 211, .5);
  // background: rgba(0,199,228,0.32);
  background-image: linear-gradient(rgba(0,199,228,0.32), #fff);
}

.title-container {
  flex: 1 0 auto;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.title {
  font-family: 'Pacifico';
  font-weight: bold;
  margin: auto;
  font-size: 30pt;
  color: rgba(0,0,0, .75);
  text-shadow: 0 2px 1px rgba(230, 61, 135, .32);
}

.swipe-icon-container {
  flex: 0 1 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.swipe-icon {
  height: 40px;
  opacity: 0;
  margin: auto;
}

.content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;

  flex: 1 0 auto;
}

.swiper-container {
  flex: 1 0 auto;
  position: relative;
  // width: 100%;
  // height:0
  // margin: auto;
}

.swiper-self {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.space-taker-upper {
  flex: 1 0 auto;
}

.swiper-slide {
  color: #aaa;
  // background-color: rgba(0, 199, 228, 0.1);
  overflow: hidden !important;
  scroll-behavior: smooth;
  max-width: 100%;
}

.swiper-slide > * {
  margin-right: 40px;
  margin-left: 40px;
  // border: 2px solid black;
}

.swiper-slide-active {
  color: #000;
  background-color: #fff;
}
