<div class="box">
  <div class="header">
    <div style="flex: 0 1 auto; width: 40px;"></div>
    <div class="title-container"><h1 class="title">Memories</h1></div>
    <div class="swipe-icon-container"><img [@pulse]="pulseSwipe" class="swipe-icon" src="assets/swipe.svg" /></div>
  </div>
  <div class="content">
    <div class="swiper-container">
      <swiper class="swiper-self" (indexChange)="onIndexChange($event)">
        <div class="swiper-slide" *ngFor="let option of options">
          <div style="text-align: justify; font-family: dosis;font-size: 20px;">{{ option.item.entry.memory }}</div>
          <div style="width:100%;"><app-user-circle [user]="option.item.user"></app-user-circle></div>
        </div>
      </swiper>
    </div>
  </div>
</div>
