<div *ngIf="(about$ | async) as about" fxLayout="column" fxLayoutGap="5px">
  <mat-card>
    <div fxLayout fxLayoutAlign="center center"><h1>All About Dave</h1></div>
  </mat-card>
  <mat-card>
    <div fxLayout fxLayout.xs="column">
      <div fxFlex="25%" fxLayoutAlign="center center">
        <mat-card style="border-radius: 50%; height: 200px; width: 200px; margin: 0; padding: 5px">
          <img style="border-radius: 50%; margin:0; padding: 0; width: 200px; height: 200px" src="https://lovedad.imgix.net/dad-face.png?w=400&h=400" />
        </mat-card>
      </div>
      <div fxFlex="75%" style="text-align:start">
        <div fxLayout>
          <mat-card> <p>Let's take some time and love on Dave. Below, there are 4 different types of information you can share. You can add as many of the different types as you want.</p> </mat-card>
        </div>
        <div fxLayout><h4>Instructions</h4></div>
        <div fxLayout="column" fxLayoutGap="3px">
          <ng-container *ngFor="let instruction of instructions">
            <mat-card style="margin:0px;padding:0">
              <div fxLayout="row" fxLayoutGap="2px">
                <div fxFlex="10%" fxLayoutAlign="center center">
                  <mat-icon>{{ instruction.icon }}</mat-icon>
                </div>
                <div fxFlex="90%">
                  <p>{{ instruction.text }}</p>
                </div>
              </div>
            </mat-card>
          </ng-container>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card>
    <div *ngIf="!about.saving; else loading" fxLayout fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="10px" fxLayoutGap.xs="3px">
      <mat-accordion fxFill="1">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title><h4>Add a nickname</h4></mat-panel-title>
          </mat-expansion-panel-header>

          <div fxLayout="column" fxFlex>
            <div fxLayout fxFlex class="alert alert-danger">
              <div *ngIf="nicknameForm.invalid && (nicknameForm.dirty || nicknameForm.touched)">
                <mat-error *ngIf="nicknameForm.get('nickname').hasError('maxlength')">Name must be less than 10 characters long.</mat-error>
              </div>
              &nbsp;
            </div>
            <div fxLayout fxFlex>
              <div fxLayout="column" fxFlex="90%">
                <div fxLayout>
                  <form [formGroup]="nicknameForm" fxFlex>
                    <mat-form-field fxFlex> <input matInput placeholder="Nickname" type="text" formControlName="nickname"/></mat-form-field>
                  </form>
                </div>
              </div>
              <div fxLayout="column" fxFlex="10%"><button fxFlex mat-raised-button (click)="saveNickname()" [disabled]="!nicknameForm.valid">Add</button></div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title><h4>Add an attributes</h4></mat-panel-title>
          </mat-expansion-panel-header>
          <div fxLayout="column" fxFlex>
            <div fxLayout fxFlex class="alert alert-danger">
              <div *ngIf="attributeForm.invalid && (attributeForm.dirty || attributeForm.touched)">
                <mat-error *ngIf="attributeForm.get('attribute').hasError('maxlength')">Attribute must be less than 25 characters long.</mat-error>
              </div>
              &nbsp;
            </div>
            <div fxLayout fxFlex>
              <div fxLayout="column" fxFlex="90%">
                <div fxLayout>
                  <form [formGroup]="attributeForm" fxFlex>
                    <mat-form-field fxFlex> <input matInput placeholder="Attribute" type="text" formControlName="attribute"/></mat-form-field>
                  </form>
                </div>
              </div>
              <div fxLayout="column" fxFlex="10%"><button fxFlex mat-raised-button (click)="saveAttribute()" [disabled]="!attributeForm.valid">Add</button></div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title><h4>Add a memory</h4></mat-panel-title>
          </mat-expansion-panel-header>
          <div fxLayout="column" fxFlex>
              <div fxLayout fxFlex class="alert alert-danger">
                <div *ngIf="memoryForm.invalid && (memoryForm.dirty || memoryForm.touched)">
                  <mat-error *ngIf="memoryForm.get('memory').hasError('maxlength')">Memory must be less than 5000 characters long.</mat-error>
                </div>
                &nbsp;
              </div>
              <div fxLayout fxFlex>
                <div fxLayout="column" fxFlex="90%">
                  <div fxLayout>
                    <form [formGroup]="memoryForm" fxFlex>
                      <mat-form-field fxFlex> <input matInput placeholder="Memory" type="text" formControlName="memory"/></mat-form-field>
                    </form>
                  </div>
                </div>
                <div fxLayout="column" fxFlex="10%"><button fxFlex mat-raised-button (click)="saveMemory()" [disabled]="!memoryForm.valid">Add</button></div>
              </div>
            </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card>
</div>

<ng-template #loading>
  <div fxLayout fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="10px" fxLayoutGap.xs="3px"><app-loading></app-loading></div>
</ng-template>
